.navbar {
  background-color: $color-primary;
   // background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  position: sticky;
  top:0;
  left: 0;
  z-index: 999;
  padding:0rem 0 2rem;
  box-shadow:inset 1px -3px 10px 5px $color-primary ;
  text-align: center;


  .navbar-container{
    margin: 0 auto;
    position: relative;
    width: 90%;
    .burger{
      position: absolute;
      top:50%;
      right:2rem;
      z-index: 999;
      font-size: 1.5rem;
      color:$color-base;
      transform: translate(0,-50%);
    }
  }
  .logo{
  display: inline-block;
    img {
      display: block;
      width: 100%;
      max-height: 90px;
      filter: drop-shadow(-10px 10px 5px rgb(5, 5, 5));
      padding: 1rem;
    }
  }
}


@media (min-width: 1024px) {
  .navbar{
   position: unset;
  }
}