@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Play&family=Sawarabi+Mincho&display=swap');
$color-primary:#2A363B ;
$color-base:#e4e0e0;
$color-light:#FECEAB;
$light-blue:#99B898;
$light-red: #FF847C;



$font-dancing: 'Dancing Script', cursive;
$font-play: 'Play', sans-serif;
$font-mincho: 'Sawarabi Mincho', serif;