@import "./config";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-primary;
    scroll-behavior: smooth;
}
@import "./partials/nav";
@import "./partials/menu";
@import "./partials/galerie";
@import "./partials/navigation";
@import "./partials/login";
@import "./partials/footer";